.BGContainer {
  margin: 0 auto;
  margin-top: 9rem;
  display: grid;
  max-width: 100rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit,minmax(300px, 10rem));
  align-items: center;
  grid-template-rows: auto;
  justify-content: center;
  font-family: "Montserrat";
}

.Card {
  width: 10rem;
  background: white;
  height: 15rem;
}
