.BGContainer {
  margin: 0 auto;
  margin-top: 8rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  grid-template-rows: auto;
  max-width: 1700px;
  justify-content: center;
  font-family: "Montserrat";
}

.LeftContainer {
  width: 100%;
}

.RightContainer {
  width: 100%;
}

.LeftContainer h1 {
  color: #FFC367;
  font-size: clamp(2rem,3vw + 1rem, 5rem);
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.LeftContainer h2 {
  display: block;
  margin: 0 auto;
  color: #B1B1B1;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: clamp(1rem,1vw + .5rem, 4rem) ;
  text-align: left;
}

.RightContainer img {
  display: block;
  margin: auto auto;
  object-fit: cover;
  height: clamp(10rem, 20vw + 1.5rem, 26rem);
  border-radius: 100%;
}
