#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

hr {
  margin: 0 auto;
  width: 80%;
  border: solid var(--secundary-color) 1px;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

section {
  padding: clamp(2rem, 10vw, 10rem);
  padding-top: 0;
  padding-bottom: 0;
}

.ProfileContainer {
  margin: 0 auto;
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  grid-template-rows: auto;
  max-width: 1700px;
  justify-content: center;
  font-family: "Montserrat";
}
